.content-wrapper {
    position: relative;
}

main {
    padding: 10px;
}

aside {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    padding: 10px;
    background-color: rgb(225, 241, 251);
}

footer {
    position: fixed;
    bottom: 0px;
}