* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#cabecalho {
  justify-items: center;
  background-color: #099c10;
  color: white;
}

nav a {
  padding: 10px;
  color: rgb(197, 246, 196);
  text-decoration: none;
}

nav a:hover {
  color: #f1fff1;
  text-decoration: underline;
}

img {
  height: 120px;
  border-radius: 10px;
}

.lista-noticias {
  margin: 50px;
  display: flex;
  justify-content: space-around;
}

.card-noticia {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(201, 201, 201);
  width: 40%;
  min-width: 250px;
  justify-content: center;
}

.card-noticia:hover {
  box-shadow: 1px 1px 6px black;
  cursor: pointer;
}