table {
    border: 2px solid #000000;
    border-spacing: 5px;
    margin: 40px;
    width: 300px
}

table th {
    border: 1px solid rgb(0, 0, 0);
    background-color: #f9e4ba;
}

table td {
    border: 1px solid rgb(0, 0, 0);
    background-color: #f6efde;
}