.nav_spfc {
    color: red;
}

.nav_hobby {
    color: orange
}

.nav_receita {
    color:#885a04;
}

.nav_formularios {
    color:rgb(9, 104, 0);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

* {
    font-family: 'Montserrat';
}